[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
discord = "*"
pylint = "*"
requests = "*"
colorama = "*"
emoji = "*"
newsapi-python = "*"
lxml = "*"
asyncio = "*"
pynacl = "*"
discord-py = {extras = ["voice"],version = "*"}
mutagen = "*"

[requires]
python_version = "3.8"
